.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar span {
  font-size: 1.8em;

  @media screen and (max-width: 700px) {
    font-size: 1em;
  }
}

mat-sidenav-content {
  overflow-y: scroll
}

h1#main-h1.mat-h1.mat-headline {
  margin: 15px;
}

#sch-logo {
  height: 40px;
  width: 40px;
}

.mat-toolbar.mat-primary.mat-toolbar-single-row {
  width: 100%;
  overflow: auto;
}

.currentLink {
  background-color: #f7f7f7;
}

#logoutIcon {
  position: absolute;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
}