<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Sections</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="displayDashboard()">Dashboard</a>
      <a mat-list-item (click)="displayRegistration()">Registration</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/images/sch-logo.png" id="sch-logo"/>
      <h1 id="main-h1" class="mat-h1 mat-headline" [class.handsetTitle]="isHandset$">Students Record Portal - {{regNumber}}</h1>
      <i class="material-icons" (click)="logout()" id="logoutIcon" matTooltip="Logout" matTooltipClass="example-tooltip-red">exit_to_app</i>
    </mat-toolbar>
    <router-outlet name="topNav"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

