div.container {
  margin-top: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
mat-card {
    padding: 30px;
    #loginFormHeader {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    mat-card-title {
        text-align: center;
        margin: 20px;
        color: #6734bad1;

    }

    mat-form-field {
        width: 80%;
        font-size: 1.2em;
        margin: 0 auto;
        display: block;
      }

    #loginError {
        color: red;
        display: block;
        text-align: center;
    }

}

mat-toolbar-row {
  background-color: #6734ba;
  color: white;
  img {
    height: 40px;
    width: 40px;
  }
}

#loginImage {
    display: block;
    margin : 0 auto;
}


#submitButton {
    display: block;
    margin: 10px auto;
    width: 80%;
    font-size: 1.2em;
    padding: 10px;
    background: #7071ce
}

#helpIcon {
    position: absolute;
    right: 0;
    padding-right: 20px;
}