<form [formGroup]="myForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Student Bio-Data <i class="fas fa-user-graduate"></i></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="First name" formControlName="first_name">
                  <mat-error *ngIf="first_name.invalid && first_name.touched">First Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Last name" formControlName="last_name">
                  <mat-error *ngIf="last_name.invalid && last_name.touched">Last Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Other name(s)" formControlName="other_names">
                  <mat-error *ngIf="other_names.invalid && other_names.touched">Other Name(s) is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="email.invalid">Email is invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="dob.invalid && dob.touched">Date of birth is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Place of birth" formControlName="place_of_birth">
                  <mat-error *ngIf="place_of_birth.invalid && place_of_birth.touched">Place of Birth is invalid</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Country of Origin" formControlName="country_of_origin">
                  <mat-error *ngIf="country_of_origin.invalid && country_of_origin.touched">Your country is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="State of origin" formControlName="state_of_origin">
                  <mat-error *ngIf="state_of_origin.invalid && state_of_origin.touched">Your state of origin is
                    required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Local Govt Area" formControlName="local_govt_area">
                  <mat-error *ngIf="local_govt_area.invalid && local_govt_area.touched">Local Govt Area is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="address">
                  <mat-error *ngIf="address.invalid && address.touched">Address is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput type="number" placeholder="Phone Number" formControlName="phone_number">
                  <mat-error *ngIf="phone_number.invalid && phone_number.touched">Phone number is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <!-- <mat-form-field>
                  <input matInput placeholder="student Passport Photo" formControlName="student_passport_photo">
                  <mat-error *ngIf="student_passport_photo.invalid && student_passport_photo.touched">Student Passport
                    Photo is required</mat-error>
                </mat-form-field> -->
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row passport_photo_row">
              <div class="col-md-4">
                <p>Passport Photo</p>
                <input type="file" id="studentPassportPhoto" (change)="onFileChange($event,'student_passport_photo')">
                <input type="hidden" formControlName="student_passport_photo">

              </div>
              <div class="col-md-4">
                <img src="assets/images/img_avatar.png" class="passport_photo" alt="student passport photo">
              </div>
              <div class="col-md-4"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Father/Gaurdian 1 Bio-Data <i class="fas fa-info-circle"></i></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="FirstName" formControlName="fg1firstname">
                  <mat-error *ngIf="fg1firstname.invalid && fg1firstname.touched">First name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Surname" formControlName="fg1surname">
                  <mat-error *ngIf="fg1surname.invalid && fg1surname.touched">Surname is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput type="number" placeholder="Phone Number 1" formControlName="fg1PhoneNumber1">
                  <mat-error *ngIf="fg1PhoneNumber1.invalid && fg1PhoneNumber1.touched">Phone Number is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput type="number" placeholder="Phone Number 2" formControlName="fg1PhoneNumber2">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="fg1address">
                  <mat-error *ngIf="fg1address.invalid && fg1address.touched">Address is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="State of Origin" formControlName="fg1stateOfOrgin">
                  <mat-error *ngIf="fg1stateOfOrgin.invalid && fg1stateOfOrgin.touched">State of origin is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Occupation" formControlName="fg1Occupation">
                  <mat-error *ngIf="fg1Occupation.invalid && fg1Occupation.touched">Occupation is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="fg1Email">
                  <mat-error *ngIf="fg1Email.invalid && fg1Email.touched">Email is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <mat-divider></mat-divider>
            <div class="row passport_photo_row">
              <div class="col-md-4">
                <p>Passport Photo</p>
                <input type="file" id="fathersPassportPhoto" (change)="onFileChange($event,'fg1PassportPhoto')">
                <input type="hidden" formControlName="fg1PassportPhoto">

              </div>
              <div class="col-md-4">
                <img src="assets/images/img_avatar.png" class="passport_photo" alt="passport photo">
              </div>
              <div class="col-md-4"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Mother/Gaurdian 2 Bio-Data <i class="fas fa-info-circle"></i></mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="FirstName" formControlName="mg2firstname">
                  <mat-error *ngIf="mg2firstname.invalid && mg2firstname.touched">First name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Surname" formControlName="mg2surname">
                  <mat-error *ngIf="mg2surname.invalid && mg2surname.touched">Surname is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput type="number" placeholder="Phone Number 1" formControlName="mg2PhoneNumber1">
                  <mat-error *ngIf="mg2PhoneNumber1.invalid && mg2PhoneNumber1.touched">Phone Number is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput type="number" placeholder="Phone Number 2" formControlName="mg2PhoneNumber2">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="mg2address">
                  <mat-error *ngIf="mg2address.invalid && mg2address.touched">Address is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="State of origin" formControlName="mg2stateOfOrgin">
                  <mat-error *ngIf="mg2stateOfOrgin.invalid && mg2stateOfOrgin.touched">State of origin is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Occupation" formControlName="mg2Occupation">
                  <mat-error *ngIf="mg2Occupation.invalid && mg2Occupation.touched">Occupation is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="mg2Email">
                  <mat-error *ngIf="mg2Email.invalid && mg2Email.touched">Email is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <mat-divider></mat-divider>
            <div class="row passport_photo_row">
              <div class="col-md-4">
                <p>Passport Photo</p>
                <input type="file" id="mothersPassportPhoto" (change)="onFileChange($event,'mg2PassportPhoto')">
                <input type="hidden" formControlName="mg2PassportPhoto">

              </div>
              <div class="col-md-4">
                <img src="assets/images/img_avatar.png" class="passport_photo" alt="passport photo">
              </div>
              <div class="col-md-4"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Documents <i class="fas fa-file-alt"></i></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-5 formfile">
                <p>Jamb Admission Letter</p>
                <input type="file" id="jambAdmissionLetter" (change)="onFileChange($event,'jamb_admission_letter')">
                <input type="hidden" formControlName="jamb_admission_letter">
                <mat-divider></mat-divider>
              </div>
              <div class="col-md-5 formfile">
                <p>Jamb Result</p>
                <input type="file" id="jambResult" (change)="onFileChange($event,'jamb_result')">
                <input type="hidden" formControlName="jamb_result">
                <mat-progress-bar  *ngIf="makingJambImgRecognRequest" mode="indeterminate" class="mat-progress-bar"></mat-progress-bar>
                <mat-error>{{jambResultImgRecognError}}</mat-error>
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 formfile">
                <p>Recommendation Letter</p>
                <input type="hidden" formControlName="recommendation_letter">
                <input type="file" id="recommendationLetter" (change)="onFileChange($event, 'recommendation_letter')">
                <mat-divider></mat-divider>
              </div>
              <div class="col-md-5 formfile">
                <p>Birth Certificate</p>
                <input type="hidden" formControlName="birth_cert">
                <input type="file" id="birthCertificate" (change)="onFileChange($event, 'birth_cert')">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 formfile">

                <p>O Level Result</p>
                <mat-form-field>
                  <select matNativeControl formControlName="oLevelResult" required>
                    <option value="">Select O level</option>
                    <option value="WAEC">WAEC</option>
                    <option value="NECO">NECO</option>
                  </select>
                </mat-form-field>
                <input type="file" id="oLevelResult" (change)="onFileChange($event, 'oLevelResultFile')">
                <input type="hidden" formControlName="oLevelResultFile">
                <mat-error *ngIf="oLevelResult.invalid && oLevelResult.touched">You must select what type is your O Level</mat-error>
                <mat-progress-bar  *ngIf="makingOlevelImgRecognRequest" mode="indeterminate" class="mat-progress-bar"></mat-progress-bar>
                <mat-error>{{oLevelImgRecognError}}</mat-error>
                <mat-divider></mat-divider>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="row">
          <div class="col" id="submitButton">
            {{ response | json }}
            <button id="submitDocuments" [disabled]="myForm.invalid || loading" mat-raised-button type="submit">Submit
              Documents</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
