mat-card {
    padding: 0px;
    margin: 30px;
    font-size: 1.3em;
  
    mat-card-header {
      background: rgba(0, 0, 0, 0.13);
  
      mat-card-title {
        color: rgba(0, 0, 0, .54);
        padding: 10px;
        margin-bottom: 0px;
      }
    }
  
    mat-card-content {
      padding: 30px;
  
      mat-form-field {
        font-size: 1.2em;
      }
  
      div.formfile {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-right: 10px;

        p {
          font-weight: bold;
          font-size: 1.2em;
        }
  
        mat-divider {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
  
  #submitButton {
    margin: 30px;
  
    #submitDocuments {
      width: 100%;
      font-size: 1.2em;
      padding: 10px;
      background-color: #4ca0afdb;
      color: white;
    }
  }
  
  .passport_photo_row {
   align-items: center;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-top: 20px;
   padding-bottom: 20px;
   p {
       font-weight: 400;
       font-size: 1.2em;
   }
   .passport_photo {
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      height: 160px;
    }
    
  }

  .mat-progress-bar{
    margin-top : 15px;
  }
