#header {
  padding: 50px;
  background: white;
  align-items: center;

  #cloudinaryImageId{
      align-content: center
  }

  p {
    margin: 10px 0;
    text-align: center
  }
}

mat-card {
  padding: 0px;

  mat-card-header {
    background: rgba(0, 0, 0, .03);

    mat-card-title {
      color: rgba(0, 0, 0, .54);
      padding: 10px;
      margin-bottom: 0px;
    }
  }

  mat-card-content {
    padding: 30px;

    .info-title {
      font-weight: bold;
      font-size: 1.2em;
    }

    div.col-sm-5 {
      margin: 15px 0px;
    }

    p {
      margin-bottom: 8px;
      margin-top: 15px;
      font-size: 1.2em;
    }

    .info-row {
      align-items: center;
    }
  }
}
