<div class="container-fluid">
  <!-- header -->
  <div class="row">
    <div class="col" id="header">

      <cl-image public-id={{studentAvatarPublicId}} style="display:block; margin: 0 auto;">
        <cl-transformation width="150" height="150" radius="max" crop="scale">
        </cl-transformation>
      </cl-image>

      <p>{{name}}</p>
      <p>{{email}}</p>
      <p>{{phoneNumber}}</p>
    </div>
  </div>
  <!-- body -->
  <div class="row">
    <div class="col">
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            Student Information
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <div class="row info-row">
            <div class="col-sm-5 ml-auto mr-auto">
              <p class="info-title">Registration Number</p>
              <p>{{regNumber}}</p>
              <mat-divider></mat-divider>
            </div>
            <div class="col-sm-5 ml-auto mr-auto">
              <p class="info-title">College</p>
              <p>{{college}}</p>
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row info-row">

            <div class="col-sm-5 ml-auto mr-auto">
              <p class="info-title">Department</p>
              <p>{{department}}</p>
              <mat-divider></mat-divider>
            </div>
            <div class="col-sm-5 ml-auto mr-auto">
              <p class="info-title">Course</p>
              <p>{{course}}</p>
              <mat-divider></mat-divider>
            </div>
          </div>

          <div class="row info-row">
            <div class="col-sm-5 ml-auto mr-auto">
              <p class="info-title">Admission Year</p>
              <p>{{admissionYear}}</p>
              <mat-divider></mat-divider>
            </div>
            <div class="col-sm-5 ml-auto mr-auto">
              <p class="info-title">Admission Status</p>
              <p>{{admissionStatus}}</p>
              <mat-divider></mat-divider>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
